@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Questrial');

* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background: #FFF;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 16px; /*1em = 16px*/
	color: #000000;
	line-height: 1.3;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

section {
	font-family: 'Questrial', sans-serif;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-family:'Ubuntu', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.5em;

}

h2 {
	color: #000; 
	text-transform: uppercase;
	margin: 20px;
	font-size: 1.5em;
}

a {
	color: #11C6ED;
	text-decoration: none;
}

nav a {
	font-family:'Ubuntu', sans-serif;
	color: #000000;
	margin-right: 25px;
	font-weight: 600;
	letter-spacing: 2px;
}

footer {
	font-family:'Ubuntu', sans-serif;
	background-color: #FF957E; 
	padding: 20px;
	text-align: center;
	border: 1px black solid;
}


#intro {
	background: url("../images/heroimage.jpg");
	height: 85vh;
	background-size: cover;
	background-position: bottom;
	color: #FFF;
	text-align: left;
	padding: 2em;
	font-size: 1.8em;
}

.logo {
	font-family:'Ubuntu', sans-serif;
	color: #000;
	text-transform: uppercase;
	font-size: 2em;
}

#two_column {
	background-color: FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a:hover {
	background-color: #aaaaaa;
}

img {
	width: 33.33%;
	float: left;
	padding: 20px;
}